resolver/target
resolver/.env
resolver/Cargo.lock

back/target
back/.env
back/Cargo.lock

fed-test/Cargo.lock
fed-test/target
fed-test/.env

worker/Cargo.lock
worker/target
worker/.env

# Macos
.DS_Store

# IDE
.idea/
.vscode/
*.iml
