# Database connection
DATABASE_URL=postgres://archypix:archypix@localhost/archypix_back

# Server configuration
LISTEN_ADDR=0.0.0.0:8000

# Logging
RUST_LOG=info,archypix_back=debug

# Frontend url for CORS policy
FRONT_URL=https://archypix.com

# Using a resolver allows multiple backends to share the same domain with the federation protocol.
# The webfinger protocol will be used to detect which instance is responsible for a user.
USE_RESOLVER=true
# This backend’s host, used to register to the resolver if using one.
HOST=b1.archypix.com
# The domain that appears after the ':' in usernames (@user:domain.com).
# Its path /.well-known/webfinger should provide the backend url for a user, or redirect to a resolver.
WEBFINGER_HOST=archypix.com
# The url of the resolver for webfinger and update requests. Can be an internal address. Can be equals to WEBFINGER_HOST.
# Optional if not using any resolver
RESOLVER_URL=http://archypix_resolver
# Optional if not using any resolver
# Admin token allowing this backend to update the resolver.
RESOLVER_ADMIN_TOKEN=change-me-in-production
